body {
    background-color: #ffffff;
}

body.dark-mode-enabled {
        background: black;
    }

#section {
    background-image: url('hatra2.jpg');
    width: 100%;
    background-size: cover;
}

#ffd633
.header {
    padding: 10px 5px 10px 5px;

}
#fejlec {
    margin-top: 20px;
}
#tema{

}
h1 {
    color: #ffffff;
    font-size: 20px;
}

#topBtn {
    position: fixed;
    bottom: 35px;
    right: 35px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background: #e74c3c;
    color: black;
    border: none;
    cursor: pointer;
    display: none;
}

.display-4 {
    color: #007bff;
}
video {
    width: 100%;
    height: auto;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}

a:active {
    text-decoration: none;
}
.collapsible {
    background-color: #d4e954;
    color: #007bff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
// #d4e954 mustárszín

.card:hover {
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}
}

.lead {
    //font-size: 1.5vw;
}

.active, .collapsible:hover {
        background-color: #007bff;
        color: white;
    }

.collapsible:after {
        content: '\002B';
        color: #007bff;
        font-weight: bold;
        float: right;
    }

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #cfe8f4;
}
* {
    box-sizing: border-box;
}

.responsive {
    width: 20%;
    height: auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    /*float: left;*/
    padding: 15px;
}

.buttons, h1{
    padding-left: 15px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #CEEEFF;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
        background-color: #CEEEFF;
    }


.footer {
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

.info {
    background-color: #CEEEFF;
    border-left: 6px solid #007bff;
}

#navbar {
    background-color: #007bff; /* Blue background color */
    position: fixed; /* Make it stick/fixed */
    top: -50px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
   
}

navi {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

/* Style the navbar links */
#navbar a {
        float: left;
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 15px;
        text-decoration: none;}

.nav-item a:hover {
    color:red;
}

#navbar a:hover {
    font-weight: bold;

}

.jumbotron{
    width: 97%;
    align-content:center;
}



}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/*
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 .toast{
        width: 100%;
    }
}



@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}